body {
	background: #020202fb;
	margin: 0;
	padding: 0;
}

#banner{
	width: 100%;
}

h1{
	text-align: center;
	font-size: 56px;
	color: antiquewhite;


}


p{
	text-align: center;
	font-size: 27px;
	color: rgb(245, 243, 240);

}
