body {
	background: #020202fb;
	margin: 0;
	padding: 0;
}

#banner{
	width: 100%;
}

h1{
	text-align: center;
	font-family:   <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Oswald&display=swap" rel="stylesheet">;

font-size: 50px;

}


p{
	text-align: center;
	font-size: 27px;

}
