body {
	background: #020202fb;
	margin: 0;
	padding: 0;
}

#banner{
	width: 100%;
}

h1{
	font-family: 'Noto Sans Mono', monospace;
	text-align: center;
	font-size: 56px;
	color: antiquewhite;


}

#fundo {
	color: blue;
}


p{
	text-align: center;
	font-size: 27px;
	color: rgb(245, 243, 240);

}



li{
	color: rgb(245, 243, 240);
    font-size: 23px;
}